#Configurações da Aplicação:
PORT = 
ADRESS = 

#Middlewares:
ORIGIN_ADRESS = 

#Configurações para o Banco de Dados de Desenvolvimento:
DATABASE_DEV = 
DB_USER_DEV = 
DB_PASS_DEV = 
DB_HOST_DEV = 
DIALECT_SQL_DEV = 

#Configurações para o Banco de Dados de Produção:
DATABASE_PROD = 
DB_USER_PROD = 
DB_PASS_PROD = 
DB_HOST_PROD = 
DIALECT_SQL_PROD = 